<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th class="col-md-2">Name</th>
      <th class="col-md-3">Provider</th>
      <th class="col-md-3">Uid</th>
      <th class="col-md-2">Role</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.provider %></td>
        <td><%= user.uid %></td>
        <td><%= user.role %></td>
        <td>
        <ul>
        <li><%= link_to 'Show', user %></li>
        <li><%= link_to 'Edit', edit_user_path(user)%></li>
        <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
