<div class="inner-wrap">
     <h4><%= link_to result.title, update_link_path(title: result.title.to_s, link_url: result.link_url.to_s), {:style=>'color:blue;', :class => "css_class"} %></h4>
      <div style="color:green"><%= result.link_url %></div>
      <b>Click Count: <%= result.click_count %></b>
      <b>Rating: <%= sprintf('%.2f', result.average_rating) || "No ratings yet" %></b>
      <p>Rate this link</p>
      <%= form_tag(update_rating_path(title: result.title.to_s, link_url: result.link_url.to_s)) do %>
      <%= label_tag 'rating' %>
      <%= select_tag 'rating', options_for_select(Rating::VALUES) %>
      <%= submit_tag 'Rate this link' %>
      <% end %>
    </div>