
    <div class="row">
      <div class="large-12 columns">
      <div class="row">
        <p><strong><%= post.title %></strong></p>
        <p><%= post.created_at.strftime("%e %b %Y") %> </p>

        <% if current_user%>
         <% unless (current_user.role == 'user' && controller.action_name == 'index') %>
          <% if post.user.nil? %>
            <%= "No User" %>
          <% else %>
            <%= post.user.name %>
          <% end %>
        <% end %>
        <% end %>

        </p> 
        <p> <%= post.description %></p>
        <% if current_user %>
        <% unless (current_user.role == 'user' && controller.action_name == 'index') %>
        <ul class="inline-list">
          <% unless current_user.role == 'consultant' %>
          <li>
            <%= link_to 'Edit', edit_post_path(post) %>    
          </li>
         
          <li>
          <%= button_to 'Destroy', post, method: :delete, class: "button small round" %>
          </li>
        <% end %>
        </ul>
        <% end %>
        <% end %>
        <% if current_user %>
        <% if current_user.role == 'consultant' %>
        
        <%= render partial: 'layouts/reply', locals: {post: post}%>
        
        <% end %>
        <% end %>
        </div>
        <% if post.answers.any? %>
        <div class="row">
        <h4><%= post.answers.count %> Answers</h4>
        <% post.answers.each do |answer| %>
        
          <div class="large-2 columns small-3">
            <img src="http://placehold.it/50x50&text=[img]"/>
          </div>  
          <div class="large-10 columns">
            <p>
              <%= answer.description %>
            </p>
          </div>
        </div>
          <br />
          <% end %>
          <% end %>
        <hr/>
    
  </div>
  </div>
  



