<div class="row">
  <div class="large-12 columns">
    <div class="form-style-10">

        <h1><%= post.description %>
        <span><%= post.created_at.strftime("%e %b %Y") %>  

        <% if current_user %>
            <% if post.user.nil? %>
            <%= "No User" %>
            <% elsif post.user != current_user %>
            <%= "Anonymous" %>
            <% else %>
            <%= post.user.name %>
            <% end %>
        <% end %>
       </span>
       </h1>
    
      <!--<div class="inner-wrap"><%= post.description %></div>-->
       

        <% if current_user %>
        <% if current_user.role == 'user' %>
        <ul class="inline-list">
          <li>
            <%= link_to 'Edit', edit_post_path(post) %>    
          </li>
          <li>
          <%= button_to 'Destroy', post, method: :delete, class: "button small round" %>
          </li>
        </ul>
        <% end %>
        <% end %>
        
        <!-- Reply Box for Consultants only-->
        <% if current_user %>
        <% if current_user.role == 'consultant' %>
        <%= button_to "Write a Reply", post, method: :get, class: 'small button round' %>
        <% end %>
        <% end %>
    

        <% if post.answers.any? %>
          <div class="section"><span><%= post.answers.count %></span> Answers</div>
          <% post.answers.order(created_at: :desc).each do |answer| %>

          <!--Answer box  -->
      <div class="row">
          <div class="large-2 columns small-3">
              <% if answer.user %>
                <% if current_user %>
                  <% if current_user == answer.user %>
                  <%= answer.user.name %>
                  <% else %>
                    <%= link_to '<i class="fi-mail"></i>'.html_safe, contact_new_path(consultant_email: answer.user.email), alt: "Email Consultant" %><br>
                    <%= link_to '<i class="fi-calendar"></i>'.html_safe, new_appointment_path(consultant_id: answer.user.id) %>
                    <% end %>  
                    <% end %>
              <% else %>
                <%= link_to "No consultant", "#" %>
              <% end %>
          </div>  
          <div class="large-10 columns">
            <div class="inner-wrap">
              <%= answer.description %>
            </div>
          </div>
          </div>
          <br />
      <% end %>
      <% end %>
       </div>
  
  </div>
</div>
  



