<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th class="col-md-4">Title</th>
      <th class="col-md-4">Description</th>
      <th class="col-md-4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td>
        <ul>
          <li>
             <%= link_to 'Show', post %>    
          </li>
          <li>
            <%= link_to 'Edit', edit_post_path(post) %>    
          </li>
          <li>
          <%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
        </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
