<div class="row">
<div class="large-12 columns">
<p id="notice"><%= notice %></p>
<div class="form-style-9">
<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @appointment.email %>
</p>

<p>
  <strong>Appointment Time:</strong>
  <%= @appointment.time.strftime("%d %b %Y %H:%M") %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
</div>

</div>
</div>