<div class="row">
<div class="large-12 columns">
<p id="notice"><%= notice %></p>
<div class="form-style-10">
<h1> Show Appointment</h1>
  <div class="small-9 columns small-centered">
   

    <div class="event-date">
     <p class="event-month"><%= @appointment.time.strftime("%d %b %Y") %></p>
     <p class="event-day"> <%= @appointment.time.strftime("%H:%M") %></p>
    </div>

    <div class="event-desc">
     <h4 class="event-desc-header">Appointment Time: <%= @appointment.time.strftime("%d %b %Y %H:%M") %></h4>
     <p class="event-desc-detail"><strong>Name:</strong><%= @appointment.name %></p>
     <p><strong>Email:</strong><%= @appointment.email %></p>
    </div>
    
    <div class="event-desc">
     <h4 class="event-desc-header">Consultant:</h4>
     <p class="event-desc-detail"><strong>Name:</strong><%= @appointment.consultant.name %></p>
    </div>

   	<%= link_to image_tag("file_edit.png", :size => "40x40", :crop => :fill), edit_appointment_path(@appointment) %> 
	<%= link_to image_tag("Back.png", :size => "40x40", :crop => :fill), appointments_path %>

      <hr>

      
  </div>

</div>


</div>
</div>