<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Encounter2" %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "default" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
<body>
<!--Navigation Bar-->

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "My Site", "#" %></h1>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
    <ul class="left">
      <li class="active"><%= link_to "All Posts", posts_path %></li>
      <li class="active"><%= link_to "My Posts", my_posts_path %></li>
      <li class="active"><%= link_to 'Post Your Own Problem', new_post_path, method: :get %></li>
    </ul>

    <ul class="right">
    <% if current_user %>
      <li class="active"></li>
      <li class="active"><%= link_to "Welcome #{current_user.name}!", "#" %></li>
      <% if current_user.role %>
      <li class="active"></li>
      <li class="active"><%= content_tag(:a, current_user.role ? "#{current_user.role.capitalize}" : "") %></li>
      <% end %>
      <li class="active"></li>
      <li class="active"><%= link_to "Sign Out", sign_out_path %></li>
      <li class="active"></li>
    <% else %>
      <li class="active"></li>
      <li class="active"><%= link_to "Sign In with Google", "/auth/google_oauth2" %></li>
      <li class="active"></li>
      <li class="active"><%= link_to "Sign In with Facebook", "/auth/facebook" %></li>
      <li class="active"></li>
    <% end %>
    </ul>
    <ul>
      <li class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <input type="text" placeholder="Find Stuff">
        </div>
        <div class="large-4 small-3 columns">
          <a href="#" class="alert button expand">Search</a>
        </div>
      </div>
      </li>
    </ul>
    
  </section>
</nav>


<div class="row">
<div class="large-12 columns"> 

  <% if notice %>
<span class="label"><%= notice %></span>
<% end %>

<%= yield %>

</div>
</div>



</body>
</html>
